// flex
@mixin flexDirection($dir) {
    flex-direction: $dir;
}

@mixin justifyContent($justify: flex-start) {

    justify-content: $justify;
}

@mixin alignItems($align: stretch) {
    align-items: $align;
}

@mixin flexbox($direction: row, $justify: flex-start, $align: stretch) {
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}