// flex
@mixin justifyContent($justify: flex-start) {

    justify-content: $justify;
}

@mixin alignItems($align: stretch) {
    align-items: $align;
}

@mixin flexbox($direction: row, $justify: flex-start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// RWD
// PC
@mixin media-xl {
    @media screen and (max-width:1399px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (max-width:1199px) {
        @content;
    }
}

// pad
@mixin media-md {
    @media screen and (max-width:991px) {
        @content;
    }
}

// large-mobile
@mixin media-sm-larger {
    @media screen and (max-width:767px) {
        @content;
    }
}

// mobile
@mixin media-sm {
    @media screen and (max-width:576px) {
        @content;
    }
}