<nav class="bg-primary">
  <div
    class="nav container container-sm d-flex align-items-center justify-content-space-between"
  >
    <h1>
      <a
        href="./index.html"
        style="background-image: url(../assets/img/logo-white.png)"
        target="_self"
        class="logo bg-cover"
        >眼鏡官網</a
      >
    </h1>
    <ul class="navbar d-flex">
      <li class="navItem">
        <a href="#" target="_self" class="navLink text-light">系列鏡框</a>
      </li>
      <li class="navItem">
        <a href="#" target="_self" class="navLink text-light">門市據點</a>
      </li>
      <li class="navItem">
        <a href="#" target="_self" class="navLink text-light">部落格</a>
      </li>
      <li class="navItem">
        <a href="#" target="_self" class="navLink text-light">常見問題</a>
      </li>
    </ul>
  </div>
</nav>
