// product-card
.product-card-group {
    margin-bottom: 80px;
    row-gap: 80px;

    p {
        font-size: 24px;

        span {
            font-weight: 500;
        }
    }

    .colorSample {
        width: 24px;
        height: 24px;
        border-radius: 4px;
    }

    @include media-md {
        row-gap: 40px;
    }

    @include media-sm {
        margin-bottom: 64px;
        row-gap: 24px;
    }
}

// pagination
ul.pagination {
    li {
        border: 1px solid $p-page;
        @include flexbox(row, center, center);

        a {
            font-size: 18px;
            color: $p-page;
            display: block;
            padding: 12px 16px;

            &:hover {
                background-color: $p-page-bg;
            }

            &.active {
                color: $light;
                background-color: $dark;
            }

            @include media-sm {
                font-size: 16px;
                padding: 12px;
            }
        }

        &:first-child,
        &:last-child {
            a {
                padding: 12px;
            }
        }

    }
}

// store-card
.card {
    height: 100%;
    border: 1px solid #00000020;

    h3 {
        font-size: 24px;
        padding: 8px 24px;
        border-bottom: 1px solid #00000020;
    }

    &-context {
        font-size: 20px;
        padding: 16px 24px;

    }

    a.info-link {
        padding-top: 16px;
        padding-bottom: 16px;
    }


}