// flex
.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

// justify-content-$justifys
@each $justify in $justifys {
    .justify-content-#{$justify} {
        @include justifyContent($justify);
    }
}

// align-items-$aligns
@each $align in $aligns {
    .align-items-#{$align} {
        @include alignItems($align);
    }
}

// container
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-right: calc($gutter / 2);
    padding-left: calc($gutter / 2);

    @include media-md {
        max-width: 696px + calc($gutter / 2) * 2;
    }

    @include media-sm {
        max-width: 348px + calc($gutter / 2) * 2;
    }
}

.container-sm {

    // nav
    @include media-sm-larger {
        max-width: 100%;
        padding: 0;
    }

    @include media-sm {
        max-width: 100%;
        padding: 0;
    }
}

.container-fluid {

    // footer
    @include media-md {
        max-width: 100%;
        margin: 0 auto;
        padding-left: calc($gutter / 2);
        padding-right: calc($gutter / 2);
    }

    @include media-sm-larger {
        max-width: 100%;
        margin: 0 auto;
        padding-left: calc($gutter / 2);
        padding-right: calc($gutter / 2);
    }

    @include media-sm {
        max-width: 100%;
        margin: 0 auto;
        padding-left: calc($gutter / 2);
        padding-right: calc($gutter / 2);
    }
}

// margin & padding
.ml-auto {
    margin-left: auto;
}

.mt-auto {
    margin-top: auto;
}

@for $i from 1 through $space-num {
    .mt-#{$i} {
        margin-top: $i * 4px;
    }

    .mb-#{$i} {
        margin-bottom: $i * 4px;
    }

    .ml-#{$i} {
        margin-left: $i * 4px;
    }

    .mr-#{$i} {
        margin-right: $i * 4px;
    }
}

// width
.w-50 {
    width: 50%;
}

// color
@each $name, $color in $colors {
    .bg-#{$name} {
        background-color: $color;
    }

    .text-#{$name} {
        color: $color;
    }
}

// .bg-primary {
//     background-color: $primary;
// }

// .bg-secondary {
//     background-color: $secondary;
// }

// .bg-danger {
//     background-color: $danger;
// }

// .bg-light {
//     background-color: $light;
// }

// .bg-dark {
//     background-color: $dark;
// }

// .text-primary {
//     color: $primary;
// }

// .text-danger {
//     color: $danger;
// }

// .text-light {
//     color: $light;
// }

// background

.bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

// text-align

.text-center {
    text-align: center;
}