// flex
.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.flex-column {
    @include flexDirection(column);
}

.flex-wrap {
    flex-wrap: wrap;
}

@each $justify in $justifys {
    .justify-content-#{$justify} {
        @include justifyContent($justify);
    }
}

@each $align in $aligns {
    .align-items-#{$align} {
        @include alignItems($align);
    }
}

// container
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-right: 12px;
    padding-left: 12px;
}

@media screen and (max-width:991px) {
    .container {
        max-width: 696px + 12px*2;
    }
}

@media screen and (max-width:576px) {
    .container {
        max-width: 348px + 12px*2;
    }
}

// for nav跟footer區塊
@media screen and (max-width:767px) {

    .container-sm {
        max-width: 100%;
        padding: 0;
    }
}

// margin & paddin
.ml-auto {
    margin-left: auto;
}

.mb-1 {
    margin-bottom: 4px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mt-2 {
    margin-top: 8px;
}

.mt-4 {
    margin-top: 16px;
}

.mt-6 {
    margin-top: 24px;
}

// width
.w-50 {
    width: 50%;
}

// color

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-danger {
    background-color: var(--danger);
}

.bg-light {
    background-color: var(--light);
}

.bg-dark {
    background-color: var(--dark);
}

.text-primary {
    color: var(--primary);
}

.text-danger {
    color: var(--danger);
}

.text-light {
    color: var(--light);
}

// background

.bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

// text-align

.text-center {
    text-align: center;
}