// grid system

.row {
    margin-left: -12px;
    margin-right: -12px;
}

.col-3,
.col-md-3,
.col-4,
.col-md-4,
.col-6,
.col-md-6,
.col-md-10,
.col-sm-12 {
    padding-right: 12px;
    padding-left: 12px;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333%;
}

.col-6 {
    width: 50%;
}

@media screen and (max-width:991px) {
    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-10 {
        width: 83.333%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media screen and (max-width:767px) {
    .col-sm-12 {
        width: 100%;
    }
}