// grid system

.row {
    margin-left: - calc($gutter / 2);
    margin-right: - calc($gutter / 2);
}

@for $i from 1 through $column-num {
    .col-#{$i} {
        width: calc($i / $column-num) * 100%;
        padding-right: calc($gutter / 2);
        padding-left: calc($gutter / 2);
    }

    .col-xl-#{$i} {
        @include media-xl {
            width: calc($i / $column-num) * 100%;
            padding-right: calc($gutter / 2);
            padding-left: calc($gutter / 2);
        }
    }

    .col-lg-#{$i} {
        @include media-lg {
            width: calc($i / $column-num) * 100%;
            padding-right: calc($gutter / 2);
            padding-left: calc($gutter / 2);
        }
    }

    .col-md-#{$i} {
        @include media-md {
            width: calc($i / $column-num) * 100%;
            padding-right: calc($gutter / 2);
            padding-left: calc($gutter / 2);
        }
    }

    .col-sm-#{$i} {
        @include media-sm-larger {
            width: calc($i / $column-num) * 100%;
            padding-right: calc($gutter / 2);
            padding-left: calc($gutter / 2);
        }
    }

    .col-xs-#{$i} {
        @include media-sm {
            width: calc($i / $column-num) * 100%;
            padding-right: calc($gutter / 2);
            padding-left: calc($gutter / 2);
        }
    }
}