// nav
.nav {
    h1 {
        a.logo {
            display: block;
            width: 80px;
            height: 50px;
            text-indent: 101%;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.nav {
    ul.navbar {
        gap: 4px;

        a.navLink {
            display: block;
            font-size: 20px;
            padding: 25px 30px;
        }

        a.navLink:hover {
            color: #0A0A0A;
        }

        // li.navItem:nth-child(4) a.navLink {
        //     padding-right: 0;
        // }
    }
}



// footer
.footer {
    padding-top: 48px;
    padding-bottom: 32px;

    .footerNav {
        margin-bottom: 32px;
    }

    hr {
        margin-bottom: 32px;
    }
}

.footerLink {
    ul.navbar {
        margin-bottom: 24px;

        a.navLink {
            display: block;
            padding: 12px 24px;
            transition: 0.8s;
        }

        a.navLink:hover {
            color: #0A0A0A;
        }

    }

    ul.info {
        font-size: 36px;

        li.infoItem {
            .material-symbols-outlined {
                font-size: 36px;
                padding: 6px;
            }

            .MS-phone {
                vertical-align: middle;
            }

            .MS-mail {
                vertical-align: bottom;
            }

            a:hover {
                color: #0A0A0A;
                text-decoration: underline;
            }
        }
    }
}

.social {
    height: 100%;

    .socialIcon {
        margin-left: 32px;

        img {
            width: 48px;
            height: 48px;
            transition: 0.8s;
        }

        img:hover {
            transform: scale(1.2);
        }
    }
}


// pad
@media screen and (max-width:991px) {
    .footerLink {
        ul.navbar {
            margin-bottom: 20px;

            a.navLink {
                font-size: 16px;
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }

    }

    .social {
        .socialIcon {
            margin-left: 16px;

            img {
                width: 40px;
                height: 40px;
            }
        }
    }

}

// mobile 768px
@media screen and (max-width:767px) {

    // mobile nav
    .nav {
        flex-direction: column;
        align-items: flex-start;

        h1 {
            padding: 15px;
        }
    }

    .nav {
        ul.navbar {
            flex-wrap: wrap;
            gap: 0;
            width: 100%;

            li.navItem {
                width: 50%;
                text-align: center;

                a.navLink {
                    font-size: 16px;
                    padding: 12px 0;
                    border: 1px solid #fff;
                }
            }
        }
    }

    // mobile footer
    .footer {
        padding-top: 24px;
        padding-bottom: 24px;

        hr {
            margin-bottom: 16px;
        }

    }

    .footerNav {
        margin-bottom: 24px;

        .footerLink {
            ul.navbar {
                display: none;
            }

            ul.info {
                font-size: 16px;

                li.infoItem {
                    .material-symbols-outlined {
                        font-size: 18px;
                        padding: 3px;
                    }
                }
            }
        }
    }

    .copyright {
        flex-direction: column;
        gap: 8px;

        .privacy {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
}

// mobile 576px
@media screen and (max-width:576px) {

    // mobile 576px footer
    .footerNav {
        .social {
            .socialIcon {
                margin-left: 8px;

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}


// product menu
ul.menu {
    li {
        width: 33.333%;
        border: 1px solid #DCDCDC;
        border-bottom: 8px solid rgba(0, 0, 0, 0);
    }

    li.active {
        border-bottom: 8px solid $primary;
    }

    a.menuLink {
        font-size: 32px;
        display: block;
        padding-top: 24px;
        padding-bottom: 16px;

        @include media-md {
            font-size: 24px;
            padding-top: 16px;
            padding-bottom: 8px;
        }

        @include media-sm {
            font-size: 16px;
        }
    }
}