// nav
nav.nav {
    h1 {
        a.logo {
            display: block;
            width: 80px;
            height: 50px;
            text-indent: 101%;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    ul.navbar {
        gap: 4px;

        li.navItem {
            a.navLink {
                display: block;
                font-size: 20px;
                padding: 25px 30px;
            }

            a.navLink:hover {
                color: #0A0A0A;
            }
        }

        li.navItem:nth-child(4) a.navLink {
            padding-right: 0;
        }
    }
}


// footer

.footer {
    padding-top: 48px;
    padding-bottom: 32px;

    .footerNav {
        margin-bottom: 32px;

        .footerLink {
            ul.navbar {
                li.navItem {
                    a.navLink {
                        display: block;
                        padding: 12px 24px;
                        transition: 0.8s;
                    }

                    a.navLink:hover {
                        color: #0A0A0A;
                    }
                }

                li.navItem:nth-child(1) a.navLink {
                    padding-left: 0;
                }
            }

            ul.info {
                font-size: 36px;

                li.infoItem {
                    .material-symbols-outlined {
                        font-size: 36px;
                        padding: 6px;
                    }

                    .MS-phone {
                        vertical-align: middle;
                    }

                    .MS-mail {
                        vertical-align: bottom;
                    }

                    a:hover {
                        color: #0A0A0A;
                        text-decoration: underline;
                    }
                }
            }
        }

        .social {
            height: 100%;

            .socialIcon {
                margin-left: 32px;

                img {
                    width: 48px;
                    height: 48px;
                    transition: 0.8s;
                }

                img:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    hr {
        margin-bottom: 32px;
    }

}

// pad
@media screen and (max-width:991px) {
    .footer {
        .footerNav {
            .social {
                .socialIcon {
                    margin-left: 16px;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}

// mobile
@media screen and (max-width:767px) {
    nav.nav {
        .container-sm {
            flex-direction: column;
            align-items: flex-start;

            h1 {
                padding: 15px;
            }

            ul.navbar {
                flex-wrap: wrap;
                gap: 0;
                width: 100%;

                li.navItem {
                    width: 50%;
                    text-align: center;

                    a.navLink {
                        font-size: 16px;
                        padding: 12px 0;
                        border: 1px solid #fff;
                    }
                }
            }
        }
    }

    .footer {
        padding-top: 24px;
        padding-bottom: 24px;

        .footerNav {
            margin-bottom: 24px;

            .footerLink {
                ul.navbar {
                    display: none;
                }

                ul.info {
                    font-size: 16px;

                    li.infoItem {
                        .material-symbols-outlined {
                            font-size: 18px;
                            padding: 3px;
                        }
                    }
                }
            }

            .social {
                .socialIcon {
                    margin-left: 8px;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

        hr {
            margin-bottom: 16px;
        }

        .copyright {
            flex-direction: column;
            gap: 8px;

            .privacy {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }
    }
}