// banner
.banner {
    height: calc(100vh - 80px);

    .context {
        height: 100%;

        h2 {
            font-size: 36px;
            // margin-bottom: 4px;

            span {
                font-size: 64px;
                font-weight: 700;
            }
        }
    }
}