// optical,sunglass

// product menu
ul.product-menu {
    li {
        width: 33.333%;
        border: 1px solid #DCDCDC;
        border-bottom: 8px solid rgba(0, 0, 0, 0);
    }

    li.active {
        border-bottom: 8px solid $primary;
    }

    a.menuLink {
        font-size: 32px;
        display: block;
        padding-top: 24px;
        padding-bottom: 16px;

        @include media-md {
            font-size: 24px;
            padding-top: 16px;
            padding-bottom: 8px;
        }

        @include media-sm {
            font-size: 16px;
        }
    }
}


main.product {
    padding-top: 80px;
    padding-bottom: 80px;

    h2 {
        font-size: 42px;
        font-weight: 500;
    }

    h3 {
        font-size: 32px;
    }

    @include media-sm {
        padding-top: 40px;
        padding-bottom: 64px;

        h2,
        h3 {
            font-size: 24px;
        }

        .pro-name {
            margin-bottom: 24px;
        }

    }
}